
body {
    font-family: "DM Sans", sans-serif;
    color: #536942;
    background-color: #f9f9f9;
  }
  
 

.nabi-header {
    font-size: 52px;
    font-weight: bold;
    margin-top: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  
  .ayat-reference {
    font-weight: bold;
    font-size: 20px;
    margin-top: 32px;
  }
  
 
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
  }
  .arabic-text {
    font-family: "Noto Naskh Arabic", sans-serif;
    font-size: 20px;
    text-align: right;
    font-style: normal;
    line-height: 1.6;
  }
  

  .content {
    text-align: center;
}

  
 
.container {
    max-width: 1200px;
    padding: 40px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 40px;
    display: block;
    align-items: center;
    justify-content: center;
}

  .content img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }



  
 
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px;
    }
  
    .nabi-header {
      font-size: 32px;
      margin-top: 20px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    .ayat-reference {
      margin-top: 30px;
    }
  
    .container {
      padding: 20px;
    }
  
    .container + .container {
      margin-top: 30px;
    }
  
    .arabic-text {
      font-size: 18px;
    }
 

      .content img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
 

  }
  